* {
    margin: 0;
    padding: 0;
    font-family: "Hanken Grotesk", sans-serif;
}

h1 {
    font-size: 72px;
    font-weight: 900;
    line-height: 72px;
    color: #FFFFFF;
}

h2 {
    font-size: 32px;
    font-weight: 700;
    color: #FFFFFF;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
}

p {
    font-size: 18px;
    font-weight: 400;
}

/* Layout left section */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #ECF2FF;
}

.results {
    width: 736px;
    height: 512px;
    background-color: #FFFFFF;
    border-radius: 32px;;
    box-shadow: 0px 30px 60px rgba(61, 108, 236, 0.15);
    display: flex;

}

.user-result {
    background: linear-gradient(#7755FF, #2F2CE9);
    border-radius: 32px;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-result h3, 
.user-result p {
    color: #CAC9FF;
}

.user-result h3 {
    margin-top: 38px;
}

.user-result h1 {
    margin-bottom: 4px;
}

.total-score {
    width: 200px;
    height: 200px;
    background: linear-gradient(rgba(77, 33, 201, 1), rgba(37, 33, 201, 0));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-top: 35px;
    margin-bottom: 28px;
}

.user-result > p {
    text-align: center;
    width: 260px;
    margin-top: 14px;
}

/* Layout right section */
.right {
    width: 50%;
}

.summary {
    width: 80%;
    margin: 38px 40px 46px; */
}

.summary h3 {
    color: #303B59;
    margin-bottom: 20px;
}

.score {
    width: 100%;
    height: 56px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.score img {
    margin-left: 16px;
    margin-right: 12px;
}

.score p {
    margin-right: 16px;
    width: 100%;
}

.result-summary {
    display: flex;
    justify-content: space-between;
}

.sum-score {

    color: #303B59;
    font-weight: 600;
}

.hundred {
    opacity: 50%;
}

.reaction {
    background-color: #fff6f6;
    color: #FF5555;
}

.memory {
    color: #FFB21E;
    background-color: #fffbf4;
}

.verbal {
    color: #00BB8F;
    background-color: #f2fcf9;
}

.visual {
    color: #1125D6;
    background-color: #f3f4fd;
}

button {
    background: #303B59;
    color: #FFFFFF;
    width: 100%;
    height: 56px;
    border: none;
    border-radius: 128px;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 700;

}

button:hover {
    background: linear-gradient(#7755FF, #2F2CE9);
}

@media screen and (max-width:420px) {
    .results {
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .user-result {
        border-radius: 0 0 32px 32px;
        width: 100%;
        height: auto;
    }

    h1 {
        font-size: 56px;
    }
    
    h2 {
        font-size: 24px;
    }
    
    h3 {
        font-size: 18px;
    }
    
    p {
        font-size: 16px;

    }
    .user-result p {
        margin-bottom: 40px;
    }

    .total-score {
        width: 140px;
        height: 140px;
    }

    .total-score p {
        margin-bottom: 0;
    }

    .summary {
        max-width: 100%;
    }

    .right {
        width: 100%;
    }
}   
    